@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
:root {
  --btn-color:#16d5ff;
  --font-lato:'Lato', sans-serif;
  --text-color:#111;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
  font-family: sans-serif;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
.container {
  max-width: 1200px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
#site-hero {
  background-image: url("../img/banner-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  /* padding-bottom: 200px;   */
}
.site-header__contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  margin-bottom: 50px;
}
.site-header__logo {
  width: 236px;
  height: 38px;
  transition: opacity 0.3s ease;
}
.site-header__logo:hover {
  opacity: 0.5;
}
.nav__list {
  display: flex;
  align-items: center;
}
.nav__item {
  padding: 0 26px;
  position: relative;
}
.sublist {
  width: 250px;
  position: absolute;
  transform: translateY(50px);
  opacity: 0;
  right: -135px;
  box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 10%);
  border-radius: 5px;
  transition:all 0.4s ease;
}
.sublist__item {
  position: relative;
}
.sublist__item::before {
  content: "";
  height: 38px;
  width: 0px;
  display: inline-block;
  background-color: var(--btn-color);
  position: absolute;
  left: 0px;
  z-index: 10;
  transition: width 0.3s ease;
}
.sublist__item:hover.sublist__item::before {
  width: 5px;
}
.sublist__link-one {
  display: inline-block;
  padding-bottom: 10px;
}
.sublist__link-two {
  display: inline-block;
}
.sublist__link {
  font-family: var(--font-lato);
  padding: 10px 0;
  padding-left: 40px;
  font-style: bold;
  font-weight: 700;
  font-size: 15px;
  color: #888;
  transform: translateX(0);
  transition: transform 0.4s ease;
  position: relative;
}
.sublist__item::after {
  content: "";
  height: 1px;
  width: 250px;
  display: inline-block;
  background-color: #ccc;
  position: fixed;
  right: 0px;
  bottom: 35px;
  z-index: 0;
}
.sublist__link:hover {
  transform: translateX(10px);
}
.nav__item-icon:hover .sublist {
  transform: translateY(25px);
  opacity: 1; 
}
.nav__item:nth-child(5) {
  margin-right:25px;
}
.nav__item:nth-child(6) {
  padding: 0;
}
.nav__link {
  font-family: var(--font-lato);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  color: #888;
  transition: color 0.4s ease;
  position: relative;
}
.nav__link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -8px;
  background: var(--btn-color);
  transition: width 0.4s;
}

.nav__link:hover::after {
  width: 100%;
}
.nav__link:hover {
    color: var(--btn-color);
}
.nav__link .down {
  transform: rotate(0);
  transition: transform 0.4s ease;
}
.nav__link:hover .down {
  transform: rotate(180deg);
  color: var(--btn-color);
}
.nav__item-icon {
  position: relative;
}
.nav__icon {
  font-size: 25px;
  position: absolute;
  bottom: -5px;
}
.nav__btn {
  font-weight: 600;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 9px 30px;
  color: #fff;
  background: #16d5ff;
  border: 1px solid #16d5ff;
  border-radius: 5px;
  transform: translateY(0);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.nav__btns:hover .nav__btn{
  transform: translateY(-5px);  
  box-shadow: 1px 20px 31px -12px var(--btn-color);
} 

.nav__item-icons {
  position: relative;
}
.sublist-two {
  width: 250px;
  position: absolute;
  background-color: #fff;
  opacity: 0;
  box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 10%);
  border-radius: 5px;
  transform: translateY(50px);
  right: -136px;
  transition: transform 0.5s ease;
}
.sublist-two__item {
  position: relative;
  background-color: #fff;
}
.sublist-two__item::before {
  content: "";
  height: 52px;
  width: 0px;
  display: inline-block;
  background-color: var(--btn-color);
  position: absolute;
  left: 0px;
  bottom: 5px;
  z-index: 10;
  transition: width 0.3s ease;
}
.sublist-two__item:hover.sublist-two__item::before {
  width: 5px;
}
.sublist-two__item::after {
  content: "";
  width: 250px;
  height: 1px;
  display: inline-block;
  position: relative;
  right: 0px;
  background-color: #ccc;
} 
.sublist-two__item:nth-child(6) {
 padding-bottom: 10px;
}
.sublist-two__item:nth-child(6)::after {
  display: none;
}
.sublist-two__link {
  text-transform: capitalize;
  font-family: var(--font-lato);
  padding: 10px 0;
  padding-left: 40px;
  font-style: bold;
  font-weight: 700;
  font-size: 15px;
  display: inline-block;
  margin-top: 3px;
  color: #888;
  transform: translateX(0);
  transition: transform 0.4s ease;
}
.sublist-two__link:hover {
  transform: translateX(10px);
}
.nav__item-icons:hover .sublist-two {
  opacity: 8;
  transform: translateY(25px);
}
.menu-icon {
  display: none;
}
.menu-icon__btn {
  border: none;
  background-color: transparent;
  font-size: 35px;
  font-weight: 400;
  color: var(--btn-color);
}

.menu-icon__btns {
  border: none;
  background-color: transparent;
  font-size: 35px;
  font-weight: 400;
  color: var(--btn-color);
}
@media screen and (max-width: 992px) {
    .site-header__logo {
      width: 216px;
      height: 30px;
    }
    .nav__link {
      font-size: 14px;
    }
    .nav__btn {
      font-size: 14px;
      display: inline-block;
      padding: 9px 20px;
    }
}
@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
  .site-header {
    background: #fff;
    box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 20%);
    height: 15vh;
    position: relative;
    z-index: 2;
    width: 100%;
    margin-bottom: 50px;
  }
  .nav {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width:100%;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    opacity: 0;
    background-color: var(--btn-color);
    transform: translateY(15vh);
    transition: all 0.4s ease;
  }
  .menu-icon__btns {
    display: none;
  }
  .show {
    opacity: 1;
    height: 85vh;
  }
  .nav__icon {
    display: none;
  }
  .nav__list {
    flex-direction: column;
    position: absolute;
    text-align: start;
    width: 100%;
    left: 0;
    margin: 0;
    padding: 0;
  }
  .nav__item {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid #f2f8fe;
  }
  .nav__item:nth-child(1)::after {
    content: "+";
    font-size: 24px;
    color: #fff;
    top: 3px;
    width: 18px;
    height: 18px;
    display: inline-block;
    position: absolute;
    right: 45px;
  }
  .nav__item:nth-child(2)::after {
    content: "+";
    font-size: 24px;
    color: #fff;
    top: 3px;
    width: 18px;
    height: 18px;
    display: inline-block;
    position: absolute;
    right: 45px;
  }
  .nav__item:nth-child(5) {
    left: 12px;
  }
  .sublist {
    display: none;
  }
  .sublist-two {
    display: none;
  }
  .nav__link {
    color: #fff;
    display: block;
    width: 87%;
    padding: 8px 15px;
  }
  .nav__btn {
    padding: 0;
    padding: 8px 15px;
    display: block;
    width: 87%;
  }
  .menu-icon {
    display: block;
  }
  .site-header__logo {
    width: 120px;
    height: 19px;
  }
}
/* header end */
@media screen and (min-width: 320px) {
  #site-hero {
    margin-bottom: 100px;
  }
.hero__title {
  font-size: 30px;
  font-style: bold;
  font-weight: 700px;
  padding-bottom: 20px;
}
.hero__text-blue {
  color: var(--btn-color);
}
.hero__text {
  font-family: var(--font-lato);
  font-size: 16px;
  font-weight: 600px;
  line-height: 24px;
  color: #888;
  margin-bottom: 30px;
}
.hero__btn {
  padding: 9px 15px;
  display: inline-block;
  background-color: var(--btn-color);
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 5px;
  letter-spacing: 1px;  
  transform: translateY(0);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  margin-bottom: 50px;
}
.hero__btn:hover{
  transform: translateY(-5px);  
  box-shadow: 1px 20px 31px -12px var(--btn-color);
} 

.hero__img {
  animation-name: hero-img;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.fixed-btns {
  position: fixed;
  bottom: 30px;
  right: 10px;
}
.fixed-btn {
  width: 30px;
  height: 30px;
  border: none;
  background-color: var(--btn-color);
  position: relative;
  border-radius: 6px;
  transition: opacity 0.3s ease;
}
.fixed-btn:hover {
  opacity: 0.7;
}
.bx-chevron-up {
  font-size: 25px;
  position: absolute;
  right: 2px;
  bottom: 2px;
  color: #fff;
}
@keyframes hero-img {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0px);
    }
  }
}

@media screen and (min-width: 768px) {
  .site-header__logo {
    width: 150px;
    height: 24%;
  }
  .hero__title {
    font-size: 35px;
    width: 300px;
    text-align: start;
  }
  .hero__text {
    text-align: left;
    width: 330px;
  }
  .hero__btns {
    position: relative;
    right: 80px;
  }
  .hero__btn {
    padding: 15px 20px;
  }
  .hero__img {
    width: 330px;
    height: 251px;
  }
}

@media screen and (min-width: 992px) {
    .site-header {
      padding-bottom: 100px;
    }
    .site-header__logo {
      width: 236px;
      height: 38px;

    }
    .hero__title {
      width: 450px;
      font-size: 50px;
    }
    .hero__text {
      width: 450px;
    }
    .hero__btns {
     left: 15px;
    }
    .hero__btn {
      padding: 20px 30px;
    }
    .hero__img {
      width: 450px;
      height: 342px;
    }
}

@media screen and (min-width: 1200px) {
    .hero__title {
      width: 585px;
    }
    .hero__text {
      width: 585px;
    }
    .hero__img {
      width: 579px;
      height: 441px;
    }
    .hero__des {
      animation-name: des;
      animation-duration: 1s;
      animation-iteration-count: 1;
    }
    .hero__imgs {
      animation-name: img-hero;
      animation-duration: 1s;
      animation-iteration-count: 1;
    }
    @keyframes des {
        0% {
          transform: translateX(-200px);
        }
        100% {
          transform: translateY(0);
        }
    }

    @keyframes img-hero {
      0% {
        transform: translateX(200px);
      }
      100% {
        transform: translateY(0);
      }
    }
}
/* hero end */
.works {
  padding: 100px 0;
  background-color: #f2f8fe;
  overflow: hidden;
}
.works__title-small {
  text-transform: uppercase;
  color: #16d5ff;
  font-weight:500;
  text-align: center;
  margin-bottom: 5px;
}
.works__title {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 18px;
  color: #111;
}
.works__desc {
  text-align: center;
  color: #999;
  max-width: 650px;
  margin: 0 auto;
  line-height: 1.5;
  margin-bottom: 65px;
}
.works__col{
  position: relative;
}
.works__col:nth-child(1){
  display: flex;
  justify-content: center;
}
.works__bg {
  position:absolute;
  width: 100%;
  height: 100%;
  background: url("https://themes.templatescoder.com/crypton/html/demo/1-0/02-Light-Theme/images/work-petern.png");
  background-position: center;
  background-repeat: no-repeat;
  animation: bg-animation;
  animation-duration: 5s;
  left: 0;
  top: 0;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.works__img {
  animation: rotate-img;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes rotate-img {
  100%{
    transform: rotate(180deg);
  }
}
@keyframes bg-animation {
  50%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(0.8);
  }
}
.platform__title {
  font-size: 30px;
  max-width: 500px;
  font-weight: 600;
  margin-bottom: 25px;
  color: #111;
  line-height: 1.3;
}
.platform__desc {
  font-family: var(--font-lato);
  margin: 0;
  max-width: 480px;
  margin-bottom: 20px;
  color: #111;
  line-height: 1.8;
  font-size:14px;
}
.platform__list {
  padding: 0;
  margin: 0;
}
.platform__item {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}
.platform__item p{
  font-family: var(--font-lato);
  margin: 0;
  line-height: 2;
  color: #111;
  margin-left: 10px;
}
.check-icon{
  display: inline-block;
  background: #16d5ff;
  border-radius: 50%;
  padding: 10px;
  position: relative;
}
.check-icon img{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
@media screen and (max-width:1200px){
  .platform__item{
    font-size: 14px;

  }
}
@media screen and (max-width:992px){
  .platform__title{
    font-size: 25px;
  }
  .platform__item {
    align-items: flex-start;
  }
  .check-icon{
    transform: translate(0,7px);
  }
}
@media screen and (max-width:768px){
  .platform__title{
    font-size: 20px;
    margin-top: 30px;
  }
}
/* works end */

.faeatures__text {
  color: #16d5ff;
  font-weight:500;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 5px;
}
.features__title {
  font-family: var(--font-lato);
  font-size: 25px;
  color: var(--text-color);
  padding-bottom: 10px;
}
.features__texts {
  font-family: var(--font-lato);
  font-size: 16px;
  color: #888;
  line-height: 24px;
  padding-bottom: 24px;
}

.features__item {
  padding-bottom: 24px;
}
.features__inner {
  display: flex;
  flex-direction: column;
  transition: filter 0.4s ease;
}
.features-inner::before {
  content: "";
  width: 43px;
  height: 53px;
  display: inline-block;
  background-image: url("https://themes.templatescoder.com/crypton/html/demo/1-0/02-Light-Theme/images/feature-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 0 auto;
  margin-bottom: 15px;
}
.two::before {
  background-image: url("https://themes.templatescoder.com/crypton/html/demo/1-0/02-Light-Theme/images/feature-2.png");
}
.three::before {
  width: 45px;
  height: 45px;
  background-image: url("https://themes.templatescoder.com/crypton/html/demo/1-0/02-Light-Theme/images/feature-3.png");
}
.four::before {
  width: 46px;
  height: 51px;
  background-image: url("https://themes.templatescoder.com/crypton/html/demo/1-0/02-Light-Theme/images/feature-4.png");
}
.fife::before {
  width: 50px;
  height: 50px;
  background-image: url("https://themes.templatescoder.com/crypton/html/demo/1-0/02-Light-Theme/images/feature-5.png");
}
.six::before {
  width: 47px;
  height: 47px;
  background-image: url("https://themes.templatescoder.com/crypton/html/demo/1-0/02-Light-Theme/images/feature-6.png");
}
.features-inner:hover::before {
  filter: grayscale(1);
}
.features-inner__link {
  font-family: var(--font-lato);
  font-size: 20px;
  font-weight: 600;
  display: inline-block;
  color: var(--text-color);
  padding-bottom: 3px;
  transition: color 0.3s ease;
}
.features-inner__link:hover {
  color: var(--btn-color);
}
.features-inner__text {
  font-family: var(--font-lato);
  font-size: 15px;
  line-height: 24px;
  color: #999;
}

@media screen and (min-width:768px) {
    #features {
      padding-top: 100px;
      padding-bottom: 100px;
    }
    .features__title {
      font-size: 40px;
      font-weight: 600;
      padding-bottom: 18px;
    }
    .features__texts {
      padding-bottom: 50px;
      width: 580px;
      margin: 0 auto;
    }
    .features__inner {
      margin-bottom: 20px;
    }
    .features-inner__text {
      width: 300px;
    }
    .features-inner__link {
      font-size: 24px;
    }
    .features-inner::before {
      margin: 0;
      margin-bottom: 16px;
    }
}
/* features end */
@media screen and (min-width: 320px) {
  .our__text {
    color: var(--btn-color);
    font-size: 13px;
    padding-bottom: 8px;
  }
  .our__title {
    font-family: var(--font-lato);
    font-size: 30px;
    padding-bottom: 20px;
  }
  .our__subtext {
    font-family: var(--font-lato);
    color: #999;
    line-height: 24px;
    padding-bottom: 100px;
  }
  .our__item {
    margin-bottom: 24px;
  }
  .our__inner {
    display: flex;
    flex-direction: column;
  }
  .our__item::before {
    content: "";
    width: 115px;
    height: 115px;
    display: inline-block;
    background-image: url("https://themes.templatescoder.com/crypton/html/demo/1-0/02-Light-Theme/images/team-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border: 5px solid var(--btn-color);
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 8px;
  }
  .our__item:nth-child(2)::before {
    background-image: url("https://themes.templatescoder.com/crypton/html/demo/1-0/02-Light-Theme/images/team-2.jpg");
  }
  .our__item:nth-child(3)::before{
    background-image: url("https://themes.templatescoder.com/crypton/html/demo/1-0/02-Light-Theme/images/team-3.jpg");
  }
  .our__item:nth-child(4)::before{
    background-image: url("https://themes.templatescoder.com/crypton/html/demo/1-0/02-Light-Theme/images/team-4.jpg");
  }
  .our__item:hover::before {
    border-color: #999;
  }
  .our__link {
    font-size: 20px;
    font-weight: 400;
    color: var(--btn-color);
    display: inline-block;
    padding-bottom: 5px;
    transition: color 0.3s ease;
  }
  .our__link:hover {
    color: #111;
  }
  .our__inner-text {
    font-family: var(--font-lato);
    font-size: 14px;
    line-height: 24px;
    color: #888;
    padding-bottom: 15px;
  }
  .our__inner-item {
    margin-left: 25px;
  }
  .our__inner-item:nth-child(1) {
    margin-left: 0;
  }
  .our__inner-link {
    color: #999;
    font-size: 16px;
    transition: color 0.3s ease;
  }
  .our__inner-link:hover {
    color: var(--btn-color);
  }
}

@media screen and (min-width: 992px) {
  .our__text {
   font-size: 16px;
  }
  .our__title {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 40px;
  }
  .our__subtext {
    width: 580px;
    margin: 0 auto;
  }
  .our__item {
    display: flex;
    align-items: center;
  }
  .our__item::before {
   width: 146px;
   height: 146px;
   margin: 0;
  }
  .our__inner {
    padding-left: 20px;
  }
  .our__inner-text {
    width: 409px;
  }
  .our__inner-list {
    margin-left: 0px;
  }
}

/* our end */

@media screen and (min-width:320px) {
  #token {
    background-color: #F2F8FE;
   margin-bottom: 100px;
  }
  .token__texts {
    font-size: 14px;
    color: var(--btn-color);
    padding-bottom: 3px;
    padding-top: 40px;
  }
  .token__title {
    font-size: 25px;
    color: var(--text-color);
    font-weight: 400;
    padding-bottom: 10px;
  }
  .token__text {
    font-family: var(--font-lato);
    color: #999;
    width: 290px;
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 20px;
  }
  .token__item {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
  }
  .token__item::before {
    content: "";
    width: 27px;
    height: 27px;
    display: inline-block;
    background-color: #f85d77;
    border-radius: 50%;
  }
  .token__item:nth-child(2)::before {
    background-color: #5ad6f8;
  }
  .token__item:nth-child(3)::before {
    background-color: #f8c04e;
  }
  .token__item:nth-child(4)::before {
    background-color: #ac56f7;
  }
  .token__item:nth-child(5)::before {
    background-color: #61f89f;
  }
  .token__subtext {
    font-family: var(--font-lato);
    font-size: 15px;
    color: #999;
    margin-left: 15px;
  }
  .token__imgs {
    padding-bottom: 20px;
    transform: translateY(-140px);
    background-image: url("https://themes.templatescoder.com/crypton/html/demo/1-0/02-Light-Theme/images/graph-logo.png");
    background-repeat: no-repeat;
    background-size: 120px 87px;
    background-position: top 190px center;
  }
}

@media screen and (min-width: 992px) {
    #token {
      background-image: url("https://themes.templatescoder.com/crypton/html/demo/1-0/02-Light-Theme/images/tokensale.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center bottom -90px;
      background-attachment: fixed;
    }
    .token__content {
      margin-top: 100px;
      padding-top: 100px;
      padding-bottom: 100px;
    }
    .token__title {
      font-size: 40px;
      font-weight: 600;
      padding-bottom: 18px;
    }
    .token__text {
      width: 580px;
    }
    .token__imgs {
      transform: translateY(0px);
      padding-bottom: 0;
    background-position: top 153px right 220px;
    }
    .svg__img {
      width: 400px;
      height: 400px;
    }
}

/* token end */
@media screen and (min-width:320px) {
  .blog__texts {
  font-size: 14px;
  color: var(--btn-color);
  padding-bottom: 5px;
  }
  .blog__title {
    font-size: 25px;
    font-weight: 400;
    padding-bottom: 10px;
  }
  .blog__text {
    font-family: var(--font-lato);
    font-size: 14px;
    color: #999;
    line-height: 20px;
    margin-bottom: 20px;
  }
  .blog__item {
    margin-bottom: 32px;
  }
  .blog__img {
    width: 260px;
    height: 156px;
    padding-bottom: 20px;
  }
  .blog__inner-title {
    width: 238px;
    font-size: 18px;
    color: var(--text-color);
    font-weight: 400;
    display: inline-block;
    line-height: 24px;
    padding-bottom: 18px;
  }
  .blog__inner-item:nth-child(1)::after {
    content: "";
    width: 2px;
    height: 10px;
    display: inline-block;
    background-color: var(--btn-color);
    margin-left: 20px;
  }
  .blog__inner-link {
    font-family: var(--font-lato);
    color: var(--btn-color);
    font-size: 14px;
    display: inline-block;
    margin-left: 18px;
    margin-bottom: 20px;
  }
  .blog__inner-text {
    font-family: var(--font-lato);
    font-size: 14px;
    color: #999;
    line-height: 24px;
    padding-bottom: 10px;
  }
  .blog__inner-links {
    font-family: var(--font-lato);
    font-size: 14px;
    color: var(--btn-color);
    text-decoration: underline;
  }
}
@media screen and (min-width:992px) {
    .blog__title {
      font-size: 40px;
    }
    .blog__text {
      width: 580px;
      margin: 0 auto;
      margin-bottom: 60px;
    }
    .blog__inner {
      overflow: hidden;
    }
    .blog__img {
      width: 370px;
      height: 223px;
      transform: scale(1);
      transition: transform 0.4s ease, filter 0.4s ease;
    }
    .blog__img:hover {
      transform: scale(1.1);
      filter: brightness(0.5);
    }
}

/* blog end */

@media screen and (min-width: 320px) {
  #apps {
    background-color: #F2F8FE;
    margin-bottom: 60px;
    /* padding-bottom: 50px; */
  }
  .apps__texts {
    font-size: 14px;
    color: var(--btn-color);
    padding-top: 50px;
    padding-bottom: 8px;
  }
  .apps__title {
    font-size: 20px;
    font-weight: 400px;
    padding-bottom: 10px;
  }
  .apps__text {
    font-family: var(--font-lato);
    font-size: 14px;
    color: #999;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .apps__lists {
    padding-bottom: 30px;
  }
  .apps__item {
    margin-bottom: 24px;
  }
  .apps__subtext {
    font-family: var(--font-lato);
    font-size: 14px;
    color: #999;
    margin-left: 15px;

  }
  .apps__check {
    width: 18px;
    height: 18px;
    background-color: var(--btn-color);
    border-radius: 50%;
    position: relative;
    margin-left: 15px;
  }
  .apps__checkk {
     width: 14px;
     height: 14px;
     position: absolute;
     top: 2px; 
     left: 1px;
     margin-right: 15px;
  }
  .apps__btn {
    padding: 6px 15px;
    background-color: var(--btn-color);
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 100px;
  }
}

@media screen and (min-width:992px) {
    .apps__title {
      font-size: 40px;
    }
    .apps__imgs {
      padding-top: 100px;
    }
    .apps__btn {
      padding: 12px 15px;
      transform: translateY(0);
      transition: transform 0.4s ease, box-shadow 0.4s ease;
    }
    .apps__btn:hover {
      transform: translateY(-5px);  
      box-shadow: 1px 20px 31px -12px var(--btn-color);
    }
}
/* apps end */

@media screen and (min-width:320px) {
  .faqs__texts {
    text-transform: uppercase;
    color: var(--btn-color);
    padding-bottom: 6px;
  }
  .faqs__title {
    font-size: 25px;
    color: var(--text-color);
    padding-bottom: 10px;
  }
  .faqs__text {
    font-family: var(--font-lato);
    font-size: 14px;
    color: #999;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .faqs__list {
    padding-bottom: 50px;
  }
  .faqs__item {
    margin-right: 24px;
    margin-bottom: 14px;
  }
  .faqs__item--active::after {
    content: "";
    width: 80%;
    height: 2px;
    display: inline-block;
    background-color: var(--btn-color);
  }
  .faqs__item--active .faqs__link {
    color: var(--btn-color);
  }
  .faqs__item--active {
  }
  .faqs__link {
    text-transform: uppercase;
    font-family: var(--font-lato);
    font-weight: 400;
    font-size: 16px;
    color: #999;
  }
  .subtexts__item {
    margin-bottom: 24px;
  }
  .subtexts__link {
    font-size: 20px;
    color: var(--btn-color);
    display: inline-block;
    padding-bottom: 15px;
    transition: color 0.3s ease;
  }
  .subtexts__link:hover {
    color: var(--text-color);
  }
  .subtexts__text {
    font-family: var(--font-lato);
    font-size: 14px;
    color: #999;
    line-height: 24px;
  }
}
@media screen and (min-width: 992px) {
    #faqs {
      margin-bottom: 100px;
    }
    .faqs__title {
      font-size: 40px;
      margin-bottom: 15px;
    }
    .faqs__text {
      width: 580px;
      margin: 0 auto;
      margin-bottom: 80px;
    }
}
/* faqs end */

@media screen and (min-width:320px) {
    #footer {
      background-color: #F2F8FE;
    }
    .footer__logo {
      padding-top: 50px;
      margin-bottom: 25px;
      transition: opacity 0.3s ease;
    }
    .footer__logo:hover {
      opacity: 0.6;
    }
    .media-list__item {
      margin-left: 24px;
      margin-bottom: 25px;
    }
    .media-list__link {
      font-size: 24px;
      color: #999;
    }
    .media-list:hover {
      color: var(--btn-color);
    }
    .footer__item {
      margin-bottom: 8px;
    }
    .footer__link {
      font-family: var(--font-lato);
      font-size: 14px;
      color: var(--text-color);
    }
    .footer__link:hover {
      color: var(--btn-color);
    }
    .footer__sub {
      font-family: var(--font-lato);
      font-size: 18px;
      color: var(--text-color);
      padding-bottom: 15px;
    }
    .footer__inp {
      padding-left: 2px;
      padding-right: 15px;
      padding-top: 12px;
      padding-bottom: 12px;
      font-family: var(--font-lato);
      font-size: 15px;
      border: none;
     border: 1px solid #ccc;
     border-radius: 5px;
    }
    .footer__btn {
      font-size: 15px;
      border: 1px solid var(--btn-color);
      padding: 8px;
      background-color: var(--btn-color);
      color: white;
      border-radius: 5px;
    }
}

@media screen and (min-width: 992px) {
  .footer__lists {
   
  }
}